# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\27529\IdeaProjects\PeopleManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target
*.jar
*.log
*.class
.idea
.idea/dataSources/bb0bdd40-f424-4bf6-9747-626fc2b8c0d0.xml