<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender" level="ERROR">
        <file>project.log</file>
        <append>false</append>
        <encoder>
            <pattern>%highlight(%n[%d{yyyy-MM-dd HH:mm:ss,sss}] [%thread]  %logger{0}  [%-5level] %replace(%replace(%caller{1}){'Caller\+0\s+', ' '}){'\s', ' '}%msg)</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%highlight(%n[%d{yyyy-MM-dd HH:mm}]  [%-5level] %replace(%replace(%caller{1}){'Caller\+0\s+', ' '}){'\s', ' '}%msg)</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>



</configuration>