<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ecut.mapper.ItemMapper">
    <insert id="addTitle" parameterType="cn.edu.ecut.pojo.Title" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into coltitle(title_name,date)
        values(#{title.titleName},#{title.date})
    </insert>

    <insert id="addItems">
        insert into colitem(title_id,item_name,item_type)
        <foreach collection="items" open="values" separator="," item="item">
            (#{id},#{item.itemName},#{item.itemType})
        </foreach>
    </insert>

    <select id="queryTitles" resultType="cn.edu.ecut.pojo.Title">
        select id,title_name,date
        from coltitle
    </select>

    <select id="queryItems" resultType="map">
        select item_name,item_type
        from colitem
        where title_id = #{id}
    </select>
</mapper>