<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ecut.mapper.PeopMapper">
    <update id="createTable">
        create table if no exists ${tableName}
        (
            user_id int,
            user_name varchar(20),
            render_date datetime,
        <foreach collection="fields" separator="," item="field">
            <choose>
                <when test="field.type=='text'">
                    ${field.name} varchar(100)
                </when>
                <otherwise>
                    ${field.name} varchar(60)
                </otherwise>
            </choose>
        </foreach>
        )

        engine=InnoDB
    </update>

    <insert id="insertTable">
        insert into ${tableName}
        <foreach collection="items" open="values(" item="item" separator="," close=")">
            #{item}
        </foreach>
    </insert>

    <select id="queryTable" parameterType="String" resultType="map">
        select * from ${tableName}
    </select>

    <select id="descTable" resultType="map">
        desc ${tableName}
    </select>

</mapper>